    <footer class="footer text-center">
        <div class="container">
            <p>
                <a href="/campgrounds" title="Home">&copy; YelpCamp 2017</a> &nbsp; | &nbsp; 
                <a href="https://ryandaniels.surge.sh/" target="_blank">Made by Ryan</a>
            </p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>