html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#camp-index {
    display:flex; 
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

.thumbnail img {
    width: 100%;
}

.delete-form {
    display: inline;
}

.forms {
    margin: 30px auto; 
    width:30%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    padding: 3vh 0;
    font-weight: 600;
}